:root {
    --background: rgb(237, 241, 223);
    --header-background: ivory;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
    justify-content: center;
    height: 50px;
}

main {
    padding: 20px;
}

.image {
    height: 200px;
    justify-content: center;
}

#scoreboard {
    text-align: center;
}

#scores {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 1.3em;
    padding-bottom: 75px;
}

#chicken {
    height: 50%;
}

.hide {
    display: none;
}

.choice-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
}

#play-again-button {
    display: flex;
    justify-content: center;
}

#displays {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
